---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Welcome </h1>
			<p>
				Hi, I’m Jaden Au, a passionate audio engineer and music technology student at Oregon State University. 
				I hold an Associate degree in Computer Science and a Certificate in Audio Engineering from Spokane Falls Community College. 
			</p>
			<p>
				With hands-on experience mixing live events using Yamaha and Midas consoles, I’ve managed sound for concerts, theater performances, and student productions. 
			</p>
			<p>My work focuses on bringing technical precision and creative expression together. I’m excited to continue exploring how technology shapes the future of live sound and music production. </p>
			<ul>

			</ul>
			<p>

			</p>
			<p>

			</p>
		</main>
		<Footer />
	</body>
</html>
